
@{
    ViewBag.Title = "ElegirTipoPartida";
    List<string> listaTipos = ViewBag.ListaTipos;
}

<style>
    /* Si quieren cambiar los colores, cambien los color de los h1, h2, p, etc del layout (algunos tienen el color en el mismo tag)*/
    .boton {
        margin-bottom: 10px;
    }

    body {
        padding-top: 5px;
        background-color: lightsteelblue;
    }

    .spacer {
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .block { /* este es el largo de la pagina*/
        height: 320px;
        padding-top: 15px;
        background-color: lightsteelblue;
    }

    .block2 {
        min-height: 160px;
        padding-top: 20px;
    }

    .center {
        position: absolute;
        /*  top: 0;
    bottom: 0; */
        left: 0;
        right: 0;
        margin: auto;
    }

    h1 {
        font-family: Arial, sans-serif;
        font-weight: 900;
        -webkit-text-stroke: 2px #003326;
        text-shadow: 3px 5px rosybrown;
    }
</style>



<body>
    <div class="jumbotron text-center" style="background-color:indigo">
        <h1 style="color:white;font-size:400%">Elige un modo de juego</h1>
    </div>
    <div1 class="container col-lg-12 block">
        <div1 class="row col-xs-6 block2 bg-primary center">
            <div style="margin: auto auto; text-align: center">
                @Html.ActionLink(listaTipos[0], "ElegirModo", "Juego", new { nombre = listaTipos[0] }, new { @class = "btn btn-info boton" }) <br />
                @Html.ActionLink(listaTipos[1], "ElegirModo", "Juego", new { nombre = listaTipos[1] }, new { @class = "btn btn-info boton" }) <br />
                <div class="dropdown">
                    <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" disabled>
                        Jugar contra la IA
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink(listaTipos[2], "ElegirModo", "Juego", new { nombre = listaTipos[2] })</li>
                        <li>@Html.ActionLink(listaTipos[3], "ElegirModo", "Juego", new { nombre = listaTipos[3] })</li>
                        <li>@Html.ActionLink(listaTipos[4], "ElegirModo", "Juego", new { nombre = listaTipos[4] })</li>
                    </ul>
                </div>
            </div>
        </div1>
    </div1>
</body>
