@{
    ViewBag.Title = "ElegirTipoPartida";
    List<string> listaTipos = ViewBag.ListaTipos;
}

<h2>ElegirTipoPartida</h2>

<style>
    .boton {
        margin-bottom: 10px;
    }
</style>

@Html.ActionLink(listaTipos[0], "ElegirCategoria", "Juego", new { nombre = listaTipos[0], @class = "btn btn-primary boton" }) <br />
    
@Html.ActionLink(listaTipos[1], "ElegirCategoria", "Juego", new { nombre = listaTipos[1], @class = "btn btn-primary boton" }) <br />

<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
        Jugar contra la IA
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li>@Html.ActionLink(listaTipos[2], "ElegirCategoria", "Juego", new { nombre = listaTipos[2] })</li>
        <li>@Html.ActionLink(listaTipos[3], "ElegirCategoria", "Juego", new { nombre = listaTipos[3] })</li>
        <li>@Html.ActionLink(listaTipos[4], "ElegirCategoria", "Juego", new { nombre = listaTipos[4] })</li>
    </ul>
</div>