@{
    ViewBag.Title = "ElegirPersonaje";
}

<script>
    window.onload = function () {
        idCat = -1;
        setCookie('CategoriaPersonaje', idCat);
    }

    function FiltrarPers() {
        var idCat = $("select[name=selectorCat] option:selected").val();
        if (idCat != -1) {
            $.each($('.personaje'), function () {
                if (!$(this).hasClass(idCat)) {
                    $(this).css("display", "none");
                } else {
                    $(this).css("display", "initial");
                }
            });
        } else {
            $('.personaje').css("display", "initial");
        }
        setCookie('CategoriaPersonaje', idCat);
    }

    function setCookie(cname, cvalue) {
        var d = new Date();
        d.setTime(d.getTime() + (60 * 60 * 1000));//Expira en una hora
        var expires = "expires=" + d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    }
</script>

<style>
    #containertodo {
        height: 380px;
        margin: auto auto;
    }

    #containerfotos {
        height: 335px;
        margin: auto auto;
        overflow-y: scroll;
    }

    img {
        width: 100px;
        height: 100px;
        border-style: dashed;
        border-width: 3px;
        border-color: coral;
    }

    body {
        background-color: lightsteelblue;
    }

    .spacer {
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .block { /* este es el largo de la pagina*/
        height: 320px;
        padding-top: 15px;
        background-color: lightsteelblue;
    }

    .block2 {
        min-height: 160px;
        padding-top: 35px;
    }

    .center {
        position: absolute;
        /*  top: 0;
    bottom: 0; */
        left: 0;
        right: 0;
        margin: auto;
    }

    .personaje {
        display: block;
        width: 100px;
        height: 130px;
        float: left;
        margin: 10px;
    }

    .personaje:hover {
        opacity: 0.5;
    }

    .txtFoto {
        display: block;
        text-align: center;
        font-weight: bold;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    h1 {
        font-family: Arial, sans-serif;
        font-weight: 900;
        -webkit-text-stroke: 2px #003326;
        text-shadow: 3px 5px rosybrown;
    }

</style>

<div class="jumbotron text-center" style="background-color:indigo">
    <h1 style="color:white;font-size:400%">Elija el personaje de su oponente</h1>
</div>
<div class="form-group">
    <select class="form-control" name="selectorCat" onchange="FiltrarPers()">
        <option value="-1">Todos</option>
        @foreach (int idCat in BD.dicCategorias.Keys)
        {
            <option value="@idCat">@BD.dicCategorias[idCat]</option>
        }
    </select>
</div>
<div id="containertodo">
    <div id="containerfotos">
        @foreach (Personaje p in BD.listaPersonajes)
        {
            string nombreFile = p.IDPersonaje + ".jpg";
            <a href="@Url.Action("ElegirPO", "Juego", new { id = p.IDPersonaje})">
                <div id="@p.IDPersonaje" class="personaje @p.IDCategoria">
                    <img src="@p.RutaFoto" alt=":'v"/>
                    <span class="txtFoto">@p.Nombre</span>
                </div>
            </a>
        }
    </div>
</div>