
@{
    ViewBag.Title = "Estadisticas";
}

Jugaste @ViewBag.Jugadas partidas en total, de las cuales ganaste @ViewBag.Ganadas

<h2>Nuestros mejores jugadores</h2>

<style>
    #colNombre {
        width: 62%;
        text-align: center;
    }

    #colPuntos {
        /*width:38%;*/
        text-align: center;
    }

    #tabla {
        width: 300px;
    }

    .boton {
        margin-bottom: 10px;
    }
</style>
<table id="tabla" class="table table-bordered">
    <tr>
        <th id="colNombre"><b>Nombre del jugador</b></th>
        <th id="colPuntos"><b>Sus puntos</b></th>
    </tr>
    @foreach (string nombreUsu in ViewBag.dicTop10.Keys)
    {
        int iPuntos = ViewBag.dicTop10[nombreUsu];
        <tr>
            <td>@nombreUsu</td>
            <td>@iPuntos</td>
        </tr>
    }
</table>
@if (Convert.ToBoolean(Session["administrador"]))
{
    @Html.ActionLink("Volver al BackOffice", "IndexAdmins", "BackOffice", new { @class = "btn btn-primary boton" })
}

@Html.ActionLink("Volver a jugar", "ElegirModoJuego", "Juego", new { @class = "btn btn-primary boton" })  <br />

