@model Quien_es_Quien.Pregunta
@{
    ViewBag.Title = "AgregarPregunta";
}

<h2>Agregar una pregunta</h2>

@using (Html.BeginForm("AgregarPregunta", "BackOffice", FormMethod.Post))
{

    <div class="form-group">
        @Html.Label("Texto: ", new { @for = "Texto" })
        @Html.TextAreaFor(x => x.TextoPregunta, new { @class = "form-control", @id = "Texto" })
        @Html.ValidationMessageFor(x => x.TextoPregunta, "", new { @style = "color:red" })
    </div>

    <div class="form-group">
        @Html.Label("Valor: ", new { @for = "Valor" })
        @Html.TextBoxFor(x => x.Valor, new { type = "number", @class = "form-control", @id = "Valor" })
        @Html.ValidationMessageFor(x => x.Valor, "", new { @style = "color:red" })
    </div>

    <div class="form-group">
        @Html.Label("Categoria: ", new { @for = "Categoria" })
        @Html.DropDownListFor(x => x.IDCategoria, new SelectList(BD.dicCategoriasPreguntas, "Key", "Value"), new { @class = "form-control", @id = "Categoria" })
        @Html.ValidationMessageFor(x => x.IDCategoria, "", new { @style = "color:red" })
    </div>    
    
    <input type="submit" name="Enviar" class="btn btn-info"/>
}