@{
    ViewBag.Title = "ListarPreguntas";
}


<style>
    table, th, td {
        border: 1px solid black;
    }

    h1 {
        font-family: Arial, sans-serif;
        font-weight: 900;
        -webkit-text-stroke: 2px #003326;
        text-shadow: 3px 5px rosybrown;
    }

    #AgregarPreg {
        margin: auto;
        display: block;
        width: 300px;
    }

    #tabla {
        width: 300px;
        margin: 0 auto;
    }

    #Filtrado {
        width: 150px;
    }

    body {
        padding-top: 2px;
        background-color: lightsteelblue;
    }

    p {
        margin-top: -1%;
    }

    hr {
        margin-top: 47px;
        margin-bottom: 20px;
        border: 0;
        border-top: 1px solid #eee;
    }

    th {
        background-color: lavender;
        font-size: 18px;
    }

    td {
        background-color: gainsboro;
        font-size: 16px;
    }

    input.btn.btn-info {
        margin-left: 14.5%;
        margin-top: -5%;
    }
</style>

<div class="jumbotron text-center" style="background-color:lightsteelblue">
    <h1 style="color:white;font-size:400%">Listado de preguntas</h1>
</div>


<a id="AgregarPreg" class="btn btn-info" href="/BackOffice/AgregarPregunta">Agregar pregunta</a> <!--Misma forma pero con <a>, asi le puedo poner un id y despues un style-->
<h3>@Session["Mensaje"]</h3>


<form action="@Url.Action("ListarPreguntas", "BackOffice")" method="post">

    <select id="Filtrado" class="form-control" name="Categoria">
        @foreach (string sCat in BD.dicCategoriasPreguntas.Values)
        {
            <option value="@sCat"> @sCat </option>
        }
    </select>

    <input type="submit" name="Enviar" class="btn btn-info" />
</form>

<table class="table table-bordered">
    <tr>
        <th>Texto</th>
        <th>Valor</th>
        <th>Categoria</th>
        <th></th>
    </tr>
    @foreach (Pregunta unaPreg in ViewBag.listaPreguntas)
    {
        <tr>
            <td>@unaPreg.TextoPregunta</td>
            <td>@unaPreg.Valor</td>
            <td>@BD.dicCategoriasPreguntas[unaPreg.IDCategoria]</td>

            <td>@Html.ActionLink("Borrar Pregunta", "BorrarPregunta", "BackOffice", new { id = unaPreg.IDPregunta }, new { @class = "btn btn-info" })</td>
        </tr>
    }
</table>