@{
    ViewBag.Title = "MostrarLista";
}

<style>
    table {
        /*border: 5px solid black;*/
    }

    th {
        background-color: lavender;
        border: 2px solid black;
        font-size: 18px;
        text-align: center;
    }

    td {
        background-color: gainsboro;
        border: 2px solid black;
        font-size: 16px;
        text-align: center;
        padding-right: 10px;
        padding-left: 10px;
    }

    h1 {
        font-family: Arial, sans-serif;
        font-weight: 900;
        -webkit-text-stroke: 2px #003326;
        text-shadow: 3px 5px rosybrown;
    }

    body {
        padding-bottom: 10px;
        background-color: lightsteelblue;
    }

    #AgregarCat {
        width: 300px;
        margin-left: 15%;
    }

    #categorias {
        margin-top: -10px;
        margin-bottom: 10px;
    }

    #tdFoto {
        padding-left: 0px;
        padding-right: 0px;
        /*Para que las fotos no dejen espacio en las filas*/
    }
</style>

<div class="jumbotron text-center" style="background-color:indigo">
    <h1 style="color:white; font-size:400%">Listado de personajes</h1>
</div>

<a id="AgregarCat" class="btn btn-info" href="/BackOffice/AgregarPersonaje">Agregar Personaje</a>
<a id="AgregarCat" class="btn btn-info" href="/BackOffice/AgregarCategoriaPersonaje">Agregar Categoria de Personaje</a>

<h3>@Session["Mensaje"]</h3>

@{ try
    {
        if ((int)Session["Error"] == 404)
        {
            <script>alert("El personaje no pudo ingresarse ya que no se metio ninguna foto")</script>
        }
    }
    catch (NullReferenceException)
    {
        //Nada que ver aqui
    }

}
<form action="@Url.Action("ListarPersonajes", "BackOffice")" method="post" id="categorias">
    <label for="elegirCat">Ver solamente: </label>
    <select name="Categoria" class="form-control" id="elegirCat">
        @foreach (string sCat in BD.dicCategorias.Values)
        {
            <option value="@sCat"> @sCat </option>
        }
    </select>
    <input type="submit" name="Submit" value="Enviar" class="btn btn-success" style="margin-top: 10px;" />
</form>

<table>
    <!--class="table table-bordered"-->
    <!--Si eso entra en el tag "table", no se pueden customizar los bordes de las tablas-->
    <tr>
        <th><b>Nombre</b></th>
        <th><b>Foto</b></th>
        <th id="colCategoria"><b>Categoria</b></th>
        <th id="colModificar"></th>
        <th id="colBorrar"></th>
        <th id="colCambiarCaract"></th>
    </tr>
    @foreach (Personaje unPers in ViewBag.ListaPersonajes)
    {
        string nombreFile = unPers.IDPersonaje + ".jpg";
        <tr>
            <td>@unPers.Nombre</td>
            <td id="tdFoto"><img src="@unPers.RutaFoto" alt="SuperPic que no cargo" width="300"></td>
            <td>@unPers.Categoria</td>
            <td>@Html.ActionLink("Modificar personaje", "ModificarPersonaje", "BackOffice", new { id = unPers.IDPersonaje }, new { @class = "btn btn-info" })</td> <!--Mandas como parametro el ID del personaje a modificar-->
            <td>@Html.ActionLink("Borrar Personaje", "BorrarPersonaje", "BackOffice", new { id = unPers.IDPersonaje }, new { @class = "btn btn-info" })</td>
            <td>@Html.ActionLink("Cambiar caracterisitcas del personaje", "CaracteristicasPersonaje", "BackOffice", new { id = unPers.IDPersonaje }, new { @class = "btn btn-info" })</td>
        </tr>
    }
</table>