@{
    ViewBag.Title = "MostrarLista";
}

<h2>Listado de personajes</h2>
<td>@Html.ActionLink("Agregar personaje", "AgregarPersonaje", "BackOffice", new { @class = "btn btn-info" })</td>
<h3>@Session["Mensaje"]</h3>
<style>
    table, th, td {
        border: 1px solid black;
    }
</style>

@{ try
    {
        if ((int)Session["Error"] == 404)
        {
            <script>alert("El personaje no pudo ingresarse ya que no se metio ninguna foto")</script>
        }
    } catch(NullReferenceException)
    {
        //Nada que ver aqui
    }

}
<form action="@Url.Action("ListarPersonajes", "BackOffice")" method="post">

    <select name="Categoria">
        @foreach (string sCat in BD.dicCategorias.Values)
        {
            <option value="@sCat"> @sCat </option>
        }
    </select>

    <input type="submit" name="Enviar" />
</form>

<table class="table table-bordered">
    <tr>
        <th>Nombre</th>
        <th>Foto</th>
        <th>Categoria</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    @foreach (Personaje unPers in ViewBag.ListaPersonajes)
    {
        string nombreFile = unPers.IDPersonaje + ".jpg";
        <tr>
            <td>@unPers.Nombre</td>
            <td><img src="~/Content/Fotos/@nombreFile" alt="SuperPic que no cargo" width="300px"></td>
            <td>@unPers.Categoria</td>

            <td>@Html.ActionLink("Modificar personaje", "ModificarPersonaje", "BackOffice", new { id = unPers.IDPersonaje, @class = "btn btn-info" }, null)</td> <!--Mandas como parametro el ID del personaje a modificar-->
            <td>@Html.ActionLink("Borrar Personaje", "BorrarPersonaje", "BackOffice", new { id = unPers.IDPersonaje, @class = "btn btn-info" }, null)</td>
            <td>@Html.ActionLink("Cambiar caracterisitcas del personaje", "CaracteristicasPersonaje", "BackOffice", new { id = unPers.IDPersonaje, @class = "btn btn-info" }, null)</td>
        </tr>
    }
</table>