@model Quien_es_Quien.Personaje

@{
    ViewBag.Title = "AgregarPersonaje";
}

<h2>Agregar un personaje</h2>

@using (Html.BeginForm("AgregarPersonaje", "BackOffice", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.Label("Nombre: ") @Html.TextBoxFor(x => x.Nombre) @Html.ValidationMessageFor(x => x.Nombre/*, "", new { @style = "color:red" }*/) <br />

    @Html.Label("Foto: ") @Html.TextBoxFor(x => x.Img, new { type = "file" }) @Html.ValidationMessageFor(x => x.RutaFoto/*, "", new { @style = "color:red" }*/) <br />

    @Html.Label("Categoria: ") @Html.DropDownListFor(x => x.Categoria, new SelectList(BD.dicCategorias, "Value", "Value")) @Html.ValidationMessageFor(x => x.IDCategoria/*, "", new { @style = "color:red" }*/) <br />

    <input type="submit" name="Enviar" />
}